<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/99d2f24388.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
<style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');</style>

    <title>MercadoLiebre</title>
    <header class="main-header">
    <div class="para-tablet">
        <section class="mainLogo">
        <div class="main-header-top-bar">
            <img src="/imagenes/logo-mercado-liebre.svg" class="logo">
        </div>

        <div class="form" action="#" method="GET">
            <input type="text" name="nombre" placeholder="Buscar productos, marcas y más" class="input">
        <div class="submit"><i class="fa fa-search"></i></div>
        </section>
    </div>
       

            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito 
            </h2>
        </div>
       
           
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li> 
                <li><a href="#">Tiendas Oficiales</a></li> 
                <li><a href="#">Vender</a></li> 
                <li><a href="#">Ayuda</a></li> 
            </ul>
            <ul class="right-navbar">
                <li><a href="/views/register.html">Creá tu cuenta <i class="fas fa-id-card"></i></a></li> 
                <li><a href="/views/login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li> 
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

        <a href="#" class="hamburguer-buttom">
            <i class="fas fa-bars"></i>
         </a>

    </header>
<body>
<form action="/" method="#" class="creater-form">
    <div class="control-formulario">
        <input type="text" name="usuario" placeholder="Nombre de usuario" class="control">
        <input type="password" name="clave" placeholder="Constraseña" class="control">
    </div>
    
    
    <button type="submit"class="boton-formulario-login">Enviar</button>
</form>
</body>
<footer>
    <div class="article-footer">
    <article>
        <i class="fas fa-credit-card"></i>
        <p> Pagá con tarjeta o en efectivo
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
        </p>
    </article>   

    <article>
        <i class="fas fa-gift"></i>
        <p> Envío gratis desde $ 2.500
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
        </p>
    </article>

    <article>            
        <i class="fas fa-user-shield"></i>
        <p> Seguridad, de principio a fin
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
        </p>
    </article>
    </div>

    <section class="copyright">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
   

</footer>
</html>