<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/99d2f24388.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
<style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');</style>

    <title>MercadoLiebre</title>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/imagenes/logo-mercado-liebre.svg" class="logo">

        </div>
        <div class="form" action="#" method="GET">
            <div class="input">Buscar productos, marcas y más</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>

            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito 
            </h2>
        </div>
           
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li> 
                <li><a href="#">Tiendas Oficiales</a></li> 
                <li><a href="#">Vender</a></li> 
                <li><a href="#">Ayuda</a></li> 
            </ul>
            <ul class="right-navbar">
                <li><a href="/views/register.html">Creá tu cuenta <i class="fas fa-id-card"></i></a></li> 
                <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li> 
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

        <a href="#" class="hamburguer-buttom">
            <i class="fas fa-bars"></i>
         </a>

    </header>
<header class="main-header">
    <div class="main-header-top-bar">
        <img src="/imagenes/logo-mercado-liebre.svg" class="logo">
</header>
<body>

    <div class="control-formulario">
        <input type="text" name="usuario" placeholder="Nombre de usuario" class="control">
        <input type="password" name="clave" placeholder="Constraseña" class="control">
    </div>
    
    
    <button type="submit"class="boton-formulario">Enviar</button>
    
</body>
</html>