


<form action="/" method="#" class="creater-form">

    <div class="control-formulario">
        <label>nombre de descripcion: </label>
        <input type="text" name="nombre" placeholder="nombre del producto" class="control">
    </div> 
    <div class="control-formulario">
        <label>precio: </label>
        <input type="number" name="precio" placeholder="$000.000" class="control">
    </div> 
    <div class="control-formulario">
        <label>categoria </label>
        <select name="categoria" class="control">
             <option value="">Hogar</option>
             <option value="">Electro</option>
             <option value="">Indumentaria</option>
        </select>
    </div>
    <div class="control-formulario"> 
        <label>descripcion: </label>
        <textarea name="descripcion del producto" class="control" ></textarea>
    </div>
    <div class="control-formulario">
        <label>esta en oferta: </label>
        <input type="radio" name="oferta">
    </div> 
    <button type="reset" class="boton-formulario">Borrar</button>
    <button type="submit"class="boton-formulario">Enviar</button>
    
    
    </form>
    